[data-sig="home"]#image-carousel {
	top: 0;
	right: 0;
	position: absolute;

	width: 50%;
	height: 100%;
}

[data-sig="home"].image-carousel-item {
	opacity: .5;
	transform: scale(.35);
	position: absolute;
	transition: all 1.5s ease-out;
}

[data-sig="home"].image-carousel-item-froq {
	top: 25%;
	left: 15%;
	opacity: 1;
	transform: unset;
}

[data-sig="home"].image-carousel-item-topq {
	top: -5%;
	left: 50%;
}

[data-sig="home"].image-carousel-item-botq {
	top: 40%;
	left: 50%;
}

[data-sig="home"].image-carousel-item-bckq {
	top: 25%;
	left: 150%;
}
