<!DOCTYPE html>
<html>
<head>
	<base href="../" />

	<meta charset="UTF-8" />

	<link rel="stylesheet" href="styles/global.css" />
	<link rel="stylesheet" href="styles/t/header.css" />

	<link data-ownership="exclusive" rel="stylesheet" href="styles/output/about.css" />

	<script defer src="scripts/transition.js"></script>
</head>
<body class="bg-fixed bg-[#F6F8F7] " data-owner="tentang">
	<header>
		<div class="px-10 box-border h-full w-full flex items-center justify-between">
			<div id="logo">
				<img class="transition-trigger" data-destination="../views/index.html" src="assets/logo.png" alt="InMind Logo" />
			</div>
			<nav id="navigation-buttons">
				<button class="navigation-button transition-trigger" data-destination="../views/about.html" data-navid="1">Tentang Kami</button>
				<button class="navigation-button" data-navid="2">Data</button>
				<button class="navigation-button" data-navid="3">Program</button>
			</nav>
		</div>
	</header>
	<main class="mt-[10vh] overflow-auto">
		<div>
			<div class="">
				<div class="yowes px-7 py-1">
					<span>InMind</span>
				</div>
				<h1 class="font-semibold font-['Inter']">Perkenalkan, kami InMind, Perusahaan<br />yang menawarkan <span class="text-[#DFA878]">Solusi</span> untuk<br />Perusahaan anda!</h1>
			</div>
			<div class="flex justify-center items-center gap-x-14 mt-36">
				<img src="assets/3.png" />
				<div class="w-1/2">
					<p class="mb-10 text-2xl">Kami meningkatkan efisiensi dan produktifitas perusahaan dengan membangun budaya kerja yang sehat</p>
					<button class="w-fit py-2 px-6 text-white text-xl rounded-xl bg-[#7C9D96] font-['Palanquin_Dark']" type="button">Platform Kami</button>
				</div>
			</div>
		</div>
		<div id="value" class="mt-24">
			<h1 class="text-4xl text-center font-medium font-['Poppins']">Di <span class="font-['Modern_No_20']">InMind</span>, kami menghargai kebutuhan<br />unik setiap perusahaan</h1>
			<div class="flex items-center mt-[26px]">
				<div class="flex flex-col gap-y-10">
					<p class="font-['Poppins'] text-xl">Kami bekerja sama dengan klien, mengidentifikasi masalah, dan merancang solusi tepat. Untuk menciptakan lingkungan kerja inklusif, kolaboratif, dan inspiratif.</p>
					<p class="font-['Poppins'] text-xl">Kami memberikan solusi terbaik untuk perbaikan jangka pendek dan fondasi kuat pertumbuhan jangka panjang.</p>
					<button type="button" class="w-1/4 bg-[#DFA878] p-3 text-white rounded-lg text-2xl">Lihat Program</button>
				</div>
				<img src="assets/hand.png" />
			</div>
		</div>
		<div class="font-['Poppins'] mt-44 ml-auto w-1/2">
			<div class="yowes px-10 py-1">
				<span>Service</span>
			</div>
			<h1 class="text-4xl font-medium">Meningkatkan bisnis Anda dengan solusi yang dirancang khusus</h1>
		</div>
		<div class="flex mt-16 mx-5">
			<dl class="w-7/12 list-disc list-inside font-['Poppins']">
				<dt class="text-2xl flex items-center gap-x-5 mb-4"><img class="inline" src="assets/ellipse.svg" />Konsultasi</dt>
				<dd class="flex gap-x-5 mb-14 leading-loose text-justify"><img class="inline opacity-0" src="assets/ellipse.svg" />Kami memanfaatkan keahlian psikolog terkualifikasi untuk membantu klien memahami proses menciptakan lingkungan kerja yang sehat secara mental dan aman secara psikologis. Konsultan kami melibatkan Anda untuk merancang solusi yang sesuai dengan kebutuhan perusahaan Anda.</dd>
				<dt class="text-2xl flex items-center gap-x-5 mb-4"><img class="inline" src="assets/ellipse.svg" />Penasehatan</dt>
				<dd class="flex gap-x-5 mb-14 leading-loose text-justify"><img class="inline opacity-0" src="assets/ellipse.svg" />Sebagai ahli dalam bidang keselamatan psikologis di tempat kerja, kami membantu klien kami dalam menghadapi berbagai regulasi negara, nasional, dan internasional mengenai pengelolaan bahaya psikososial. Tujuan kami adalah memastikan bahwa organisasi mengetahui kewajibannya terhadap karyawan mereka untuk menciptakan lingkungan kerja yang aman dan sehat, serta membantu dalam mengimplementasikan proses utama untuk mengelola dan mempertahankan pendekatan mereka.</dd>
				<dt class="text-2xl flex items-center gap-x-5 mb-4"><img class="inline" src="assets/ellipse.svg" />Fasilitas</dt>
				<dd class="flex gap-x-5 mb-14 leading-loose text-justify"><img class="inline opacity-0" src="assets/ellipse.svg" />Kami memahami bahwa setiap organisasi memiliki kebutuhan yang unik, oleh karena itu kami menawarkan layanan fasilitasi yang dirancang untuk meningkatkan komunikasi, kolaborasi, keterampilan, kemampuan, dan pengambilan keputusan di antara kelompok karyawan. Tujuan kami adalah memberikan dukungan tambahan yang memungkinkan klien kami mencapai tujuan mereka.</dd>
			</dl>
			<div class="grow flex items-start justify-center">
				<img src="assets/meeting.png" />
			</div>
		</div>
		<div class="h-[70vh] bg-[#E1D9D7] mt-32 py-2 flex flex-col">
			<div class="flex relative h-[90%]">
				<div class="flex items-center justify-center grow">
					<img src="assets/logo.png" class="w-[7.5%] absolute top-0 left-10" />
					<img src="assets/footer.png" />
				</div>
				<div class="grow font-['Poppins'] font-medium mt-5 mx-9">
					<div class="flex mb-3">
						<div class="grow">
							<h1>Alamat</h1>
						</div>
						<div class="w-2/5">
							<p>Jl. Brigdjen Katamso 23,<br />Medan, Sumatera Utara</p>
						</div>
					</div>
					<hr class="border-black" />
					<div class="flex my-3">
						<div class="grow">
							<h1>Sosial Media</h1>
						</div>
						<div class="w-2/5 flex flex-col gap-y-3">
							<p>Instagram</p>
							<hr class="border-black" />
							<p>LinkedIn</p>
							<hr class="border-black" />
							<p>Twitter</p>
						</div>
					</div>
					<hr class="border-black" />
					<div>
						<p class="leading-10">Untuk memulai proyek Anda,<br />hubungi kami di +62 812-6550-4583</p>
					</div>
				</div>
			</div>
			<div class="flex justify-between px-10 box-border grow items-center font-['Poppins']">
				<p>© 2023 InMind Solutions Inc. Seluruh hak cipta dilindungi.</p>
				<p>Kebijakan Privasi</p>
			</div>
		</div>
	</main>
</body>
</html>
