@font-face {
	font-family: "Palanquin Dark";
	src: url("../../fonts/Palanquin Dark/PalanquinDark-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
	font-weight: 500;
	font-family: "Poppins";
	src: url("../../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
	font-weight: bold;
	font-family: "Poppins";
	src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
}
