nav {
    height: 15vh;

    padding: 0 5vw;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-container {
    height: 80%;
}

#miscellaneous {
    display: flex;
    column-gap: 5vw;
}

#miscellaneous > div {
	position: relative;
}

.nav-link {
    opacity: .5;
    color: #000;

    transition: .25s opacity;
}

.nav-link:hover {
    opacity: 1;
}

#nav-data-hover {
	right: 0;
	width: 40vw;
	z-index: 1;
	padding: 1.5vh 1vw;
	position: absolute;
	border-radius: 1vw;
	background-color: #ABC2C94D;
	backdrop-filter: blur(25px);
	transform: translate(7.5%, 2.5vw);

	display: flex;
}

.nav-dh-item {
	display: flex;
	row-gap: 1.25vh;
	flex-direction: column;
}

#nav-data-hover > svg {
	top: 0;
	right: 5%;
	position: absolute;
	transform: translateY(-100%);

	width: 5vw;
	aspect-ratio: 2 / 1;
}

.nav-dh-item-title {
	color: #222;
	font-size: 1.2em;
}

.nav-dh-item-desc {
	color: #FFF;
